PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/eventnexus
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
# Full URL to the /auth/github/callback route on your deployed app
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
#Take off https:// and the trailing slash for the renderer URL.
RENDER_URL= localhost:3000
# NODE_ENV=test for local testing, NODE_ENV=production for deployment
NODE_ENV=test/production
SESSION_SECRET=some-secret-value